[submodule "cdp-tests"]
path = cdp-tests
url = git@github.com:KINGFIOX/cdp-tests.git
[submodule "report"]
path = pre
url = git@github.com:KINGFIOX/minirv-report.git
[submodule "rvemu-hitsz"]
path = rvemu-hitsz
url = git@github.com:KINGFIOX/rvemu-hitsz.git
